<!-- <p>
 Not Authorized to display this page
</p> -->


<mat-expansion-panel expanded= "true" >
  <mat-expansion-panel-header  expandedHeight="37px" style="background-color: #648bb9; color:white">
    Not Access
  </mat-expansion-panel-header>

  <mat-card class="example-card" style="margin-top: 25px;">
    <mat-card-header>
      <div mat-card-avatar style="width: 9px; color:red;"><i  class="material-icons">
        error
        </i> </div>
      <mat-card-title>Not Access</mat-card-title>
      <!-- <mat-card-subtitle></mat-card-subtitle> -->
    </mat-card-header>
   <mat-card-content>
      <p>
       You are not Authorized to display this page
        <!-- <a mat-button routerLink=".">Link</a> -->
        <!-- <a style="font-style: italic; color: blue; cursor: pointer;"  >Download Bulk file Templeat</a> -->
      </p>

    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-raised-button (click)="openUploadDialog()">Upload</button>
    </mat-card-actions> -->
  </mat-card>



  <!-- <mat-action-row  style="padding: 4px 4px 4px 4px;">
  </mat-action-row> -->
</mat-expansion-panel>



<!-- <button mat-raised-button (click)="openUploadDialog()">Upload</button> -->
