#homepageicon {
  margin-right: 16px;
  vertical-align: middle;
  font-size: 25px;
  padding-bottom: 33px;
}

mat-icon {
  margin-right: 16px;
  vertical-align: middle;
}

.activematlist {
background-color: #f1eded;
}
