<div [ngBusy]="busy">
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header expandedHeight="37px" style="background-color: #648bb9; color:white">
      KMeans Clustring
    </mat-expansion-panel-header>

    <mat-card class="example-card" style="margin-top: 25px;">
      <mat-card-header>
        <div mat-card-avatar style="width: 9px;"><i class="material-icons">
            attach_file
          </i> </div>
        <mat-card-title>Clustring  your Data by KMeans</mat-card-title>
        <!-- <mat-card-subtitle></mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content>
        

          <div class="row">
            <!-- <div [ngBusy]="busy" class="col-lg-12"> -->
              <form >
                <!-- <div class="alert alert-danger" *ngIf="searchName.touched && !searchName.valid">
                  One input at least is required </div> -->
                <mat-form-field style="width: 100%;">
                  <!-- required -->
                  <label>Number Of Rows ( 0 all rows) </label>
                  <input  [(ngModel)]="noOfRows" name="noOfRows" matInput  type="string" value="0">
                </mat-form-field>
                <mat-form-field style="width: 100%;">
                  <label>Number Of Columns (0 all Columns) </label>
                  <input [(ngModel)] = "noOfColumns" name="noOfColumns" matInput  type="string" value="0">
                </mat-form-field>

                <label id="example-radio-group-label">Choosing the cluster number:</label> <br/>
                <mat-radio-group aria-labelledby="example-radio-group-label"
                class="example-radio-group" (change)="radioChange($event)" [(ngModel)]="kmethod" [ngModelOptions]="{standalone: true}">
<!--                   
                  <mat-radio-button [value]="M">Manual</mat-radio-button>
                  <mat-radio-button [value]="S">By the system</mat-radio-button> -->
                  <mat-radio-button style = "padding: 10px; " class="example-radio-button" name="method" *ngFor="let method of methods" [value]="method">
                    {{method}}
                  </mat-radio-button>
                </mat-radio-group>
                <!-- <div>Your favorite season is: {{kmethod}}</div> -->
                <mat-form-field [hidden]="displayManualK" style="width: 100%;">
                  <label>Number Of clusters {{noOfK}} </label>
                  <input [(ngModel)] = "noOfK" name="noOfK" matInput  type="string" value="">
                </mat-form-field>
                <mat-form-field [hidden]="displaySystemK"  style="width: 100%;">
                  <label>Method to find best k (elbow is th default)</label>
                  <mat-select [(ngModel)]="method" name="searchType" [(value)]="method">
                    <mat-option value="elbow">elbow</mat-option>
                    <mat-option value="silhouette">silhouette</mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
            <!-- </div> -->
          </div>
        


        <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
        <div class="file-upload">
          {{fileName || "No file uploaded yet."}}
          <!-- <button mat-raised-button color="primary">Primary</button> -->
          <button mat-raised-button color="primary" class="upload-btn" (click)="fileUpload.click()" >
            <mat-icon>attach_file</mat-icon> Upload
          </button>
          <button mat-raised-button (click)="refreshcomponent()">Try another file</button>
        </div>


      </mat-card-content>
      <mat-action-row  style="padding: 4px 4px 4px 4px;">
        
      </mat-action-row>
    </mat-card>

  </mat-expansion-panel>

</div>
<!--  -->

<!--  out put section start -->
<p style="width:5px"> </p>
<div [hidden]="!displayidentity">
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header expandedHeight="37px" style="background-color: #648bb9; color:white">
      Model output
    </mat-expansion-panel-header>

    <mat-card class="example-card" style="margin-top: 25px;">
      <mat-card-header>
        <div mat-card-avatar style="width: 9px;"><i class="material-icons">
            attach_file
          </i> </div>
        <mat-card-title>Kmeans Model Output</mat-card-title>
        <button mat-raised-button color="primary" (click)="SaveModelInfo()" style=" margin-left:auto;" ><mat-icon>save</mat-icon> Save the Model</button>
      </mat-card-header>
      <mat-card-content>
        <div class="row card-header">
          <div class="col-lg-6 " style="font-weight: bold">
            Kmeans model Created
          </div>
          <div class="col-lg-6">
            {{kmeansRObj.kmeans}}
          </div>
        </div>
        <div class="row card-header">
          <div class="col-lg-6" style="font-weight: bold">
            n_iter
          </div>
          <div class="col-lg-6">
            {{kmeansRObj.n_iter}}
          </div>
        </div>
        <div class="row card-header">
          <div class="col-lg-6" style="font-weight: bold">
            kmeans inertia
          </div>
          <div class="col-lg-6">
            {{ kmeansRObj.inertia}}
          </div>
        </div>
        <div class="row card-header">
          <div class="col-lg-6" style="font-weight: bold">
            Number of Clusters
          </div>
          <div class="col-lg-6">
            {{ kmeansRObj.numberOfK}}
          </div>
        </div>
        <div class="row card-header">
          <div class="col-lg-6" style="font-weight: bold">
            Download the kmeans output file.
          </div>
          <div class="col-lg-6">
            <a style="font-style: italic; color: blue; cursor: pointer;"  (click)="downloadOutPutFileSystem()">Download the kmeans output file</a>
          </div>
        </div>
        <div class="row card-header">
          <div class="col-lg-6" style="font-weight: bold">
            Download the kmeans cluster modle.
          </div>
          <div class="col-lg-6">
            <a style="font-style: italic; color: blue; cursor: pointer;"  (click)="downloadFileSystem()">Download kmeans Deployment model</a>
          </div>
        </div>
        
        <img [src]="imageData" class="img-fluid" *ngIf="imageData"/>
      </mat-card-content>
      <p>
        
       
      </p>

    </mat-card>
  </mat-expansion-panel>
</div>